.container {
  width: 50%;
  padding: 0.2em;
}
.sideContainer {
  width: 100%;
}
.video {
  display: flex;
  border: silver solid 1px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.video:hover {
  transform: scale(1.02);
}
.thumbnails {
  width: 50%;
}
.thumbnails img {
  width: 100%;
  height: 100%;
}
.description {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0.5em;
}
.title,
.channelTitle {
  margin: 0;
}
.title {
  overflow: hidden;
  line-height: 1;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.channelTitle {
  margin-top: 0.3em;
  font-size: 0.8em;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
