/* ------------------Header------------------ */
.header {
  display: flex;
  background-color: rgb(36, 36, 36);
  height: 3.5rem;
  align-items: center;
  padding: 1em;
}
.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: snow;
  margin-right: 0.5rem;
}
.logo img {
  margin-right: 1em;
}
.form {
  flex-grow: 1;
  display: flex;
}
.text {
  outline-style: none;
  border-style: none;
  height: 2rem;
  border-radius: 4px;
  flex-grow: 1;
}
.submit {
  outline-style: none;
  border-style: none;
  width: 2rem;
  height: 2rem;
  background-color: rgb(63, 63, 63);
  color: rgb(151, 151, 151);
  font-size: 1rem;
}
